/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li { clear: left; }
form.formtastic fieldset > ol > li label { text-align: right; width:22%; padding-right: 4%; font-weight: bold; }
form.formtastic fieldset > ol > li label small{ font-weight: normal; color: #777; }
form.formtastic fieldset.buttons { background: #666; padding: 5px; clear: both; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
form.formtastic fieldset.buttons > ol > li { margin: 0px; }
form.formtastic fieldset.buttons > ol > li.commit{ float: right; }
form.formtastic em, form.formtastic strong{font-weight: bold;}
form.formtastic fieldset > ol > li fieldset ol{width: auto;}
form.formtastic fieldset > ol > li.check_boxes li label{ text-align: left; font-weight: normal; }
form.formtastic fieldset > ol > li.boolean label{ padding-left: 24%; margin-bottom: 15px;}
form.formtastic fieldset > ol > li.string input.title{width:100%;max-width:98%;font-size:2em;}
form.formtastic fieldset > ol > li.string input.large,
form.formtastic fieldset > ol > li.email input.large{width:70%;max-width:98%;font-size:2em;}

input#attachment_attachment {
	position: relative;
	left: 15px;
	top: -2px;
}