<%%= semantic_form_for([:admin, @<%= singular_name %>], :html => {:multipart => true, :class => "formtastic"}) do |form| %>

	<%%= render "admin/shared/form_buttons", :form => form %>

	<%%= render "admin/shared/form_errors" %>

	<div class="tabs">
		
		<ul>
			<li><a href="#tab_main">Main</a></li>
		</ul>		
	
		<div id="tab_main">
			<%%= form.inputs do -%>
			  <% attributes.each_with_index do |attribute, index| %>
					<%%= form.input :<%= attribute.name %> %>
			  <% end %>
	    <%%- end -%>
		</div>
	
	</div>

	<%%= render "admin/shared/form_buttons", :form => form %>

<%% end %>